body {
  /*font-size: 16px;*/
  margin: 0px auto;

  background: rgba(147, 206, 222, 1);
  background: -moz-linear-gradient(
    left,
    rgba(147, 206, 222, 1) 0%,
    rgba(148, 207, 224, 1) 26%,
    rgba(35, 155, 235, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(147, 206, 222, 1)),
    color-stop(26%, rgba(148, 207, 224, 1)),
    color-stop(100%, rgba(35, 155, 235, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(147, 206, 222, 1) 0%,
    rgba(148, 207, 224, 1) 26%,
    rgba(35, 155, 235, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(147, 206, 222, 1) 0%,
    rgba(148, 207, 224, 1) 26%,
    rgba(35, 155, 235, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(147, 206, 222, 1) 0%,
    rgba(148, 207, 224, 1) 26%,
    rgba(35, 155, 235, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(147, 206, 222, 1) 0%,
    rgba(148, 207, 224, 1) 26%,
    rgba(35, 155, 235, 1) 100%
  );
}
.arriba {  
  background: #3949ab;
  color: #eceff1;
  height: 50px;
  padding: 5px;
  padding-top: 20px;
  position: fixed;
  text-align: center;
  top: 0px;
  width: 99%;
  border-bottom: 2px solid #3949ab;

  background: linear-gradient(#3949ab, #29b6f6);
  /*opera*/
  background: -o-linear-gradient(#3949ab, #29b6f6);
  /*safari*/
  background: -webkit-linear-gradient(#3949ab, #29b6f6);
  /*mozila*/
  background: -moz-linear-gradient(#3949ab, #29b6f6);
  /*edge*/
  background: -ms-linear-gradient(#3949ab, #29b6f6);
}
#abajo {
  color: black;
  height: 718px;
  margin-top: 85px;
  padding-left: 15px;
  padding-top: 15px;
  width: 98.5%;
  font-size: 18px;
}
#abajo article {
  display: inline-block;
  vertical-align: top;
}
#Mostradores {
  margin: 15px;
  width: 350px;
}
#ventanaMost{
	margin: 10px 0px;
	background: rgba(35, 100, 235, 0.3);
	border-radius: 15px;
	display: inline-flex;
	/*vertical-align: top;*/
	width: 98%;
}
#btnVer{
	/*float: right;*/
	vertical-align: top;
	margin-left: 90px;
	margin-top: 10px;
}
#most{
	margin-top: 15px;
	margin-left: 15px;
}
#ventanaMost img{
	position: relative;
	left: 50px;
	/*width: 60px;*/
}
.info {
	background: rgba(35, 100, 235, 0.3);
	border-radius: 15px;
	padding: 15px 5px;
	margin:  5px;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	width:190px;
	/*height: 220px;*/
}
.infogrupo {
  background: rgba(35, 100, 235, 0.3);
  border-radius: 15px;
  padding: 15px 5px;
  margin:  5px;
  display: inline-flex;
  vertical-align: middle;
  text-align: center;
  width:414px;
  /*height: 220px;*/
  padding: 24px 0px;
}
.textogrupo{
      margin-left: 35px;
    margin-top: 33px;
}
.favBtn{
	position: relative;
	top: 13px;
}
.imgFoto {
  width: 150px;
}
.txtNombre {
  font-size: 1.5em;
  color: white;
  text-shadow: 1px 1px 1px black;
}
.titulo {
  font-size: 30px;
  text-shadow: 2px 2px 3px black;
  margin-top: -1px;
}
.roboto {
  font-family: "Roboto", sans-serif;
  /*font-size: 22px;*/
}
.Lato {
  font-family: "Montserrat", sans-serif;
}
.btnMostradores {
  background-color: #3949ab;
  border-color: transparent;
  border-radius: 100px;
  color: #eceff1;
  width: 90px;
  height: 25px;
  box-shadow: 1px 1px 1px black;
  /*border-color: #5C6BC0;*/
}
.btnMostradores:hover {
  background-color: #29b6f6;
  box-shadow: 3px 3px 3px black;
}
.txtMostrar {
  color: white;
  text-shadow: 1px 1px 1px black;
}
.descripcion{
	font-size: 1.3em;
}
#favoritos{

}
#favoritos button{
  font-size: 25px;
  position: relative;
  bottom: 13px;
  left: 5px;
  background: transparent;
  border: 0px;
  color: white;

}
#favoritos span{
  position: relative;
  bottom: 6px;
  left: 5px;
}
/*#art{
  display: inline-flex;    
}
#art h1{ 
  margin:auto auto;
}*/
#art article{
  margin: 10px 25px;
}
#fav{
	font-size: 25px;
	text-shadow: 2px 2px 2px red;

}
#fav:hover{
	text-shadow: 5px 5px 10px red;
}
#favoritosVacio{
	position: absolute;
	top: 0;
	left: 0;   	
   	margin: 0 ;
   	padding: 0;
   	height: 100%;
   	width: 100%;
   	
}
#favoritosVacio h1{
	position: absolute;
	top: 30%;
	left: 30%;
	font-size: 1.8em;
	color: gray;
	  -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select:none;
}
#btnFavoritos{
	position: relative;
	float: right;
	top: -60px;
}
.btnFavoritos{		
	width: 30px;
  	/*height: 35px;*/
  	background: transparent;
  	border:none; 
}
.btnFavoritos img{	  	
  	width: 35px;
  	height: 35px;
}
